body {
    font-family: Inter, sans-serif;
    background-color: #3E392C;
    color: #f2d89d;
}

@font-face {
    font-family: 'Somnatus';
    src: url('./Somnatus-Regular ttf.ttf') format('truetype');
}

.output-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    padding-top: 10px;
}

footer {
    position: absolute;
    left: 10px; right: 10px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 1.3em;
}

footer b {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

p, input {
    font-size: 3em;
    text-align: center;
    background: #3E392C;
    margin-bottom: 0;
    margin-top: 15px;
    min-height: 90px;
    word-wrap: break-word;
    color: #f2d89d;
    border: 0;
}

input {
    border-bottom: 5px dashed #f2d89d;
    padding-bottom: 5px;
}

input:focus {
    outline: none!important;
}

.encoded-text {
    font-family: Somnatus, sans-serif;
}

p.encoded-text {
    font-size: 5em;
}

p.decoded-text {
    border: 0;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.keyboard-button {
    /*border: 2px solid #f2d89d;*/
    border: 0;
    border-bottom: 3px dotted #4B390F;
    /*border-radius: 0.2em;*/
    color: #f2d89d;
    width: 9%;
    height: 7%;
    min-height: 2.6em;
    font-size: 5em;
    background-color: #3E392C;
}

.keyboard-button .encoded-text {
    font-size: 1.6em;
}

.button-text {
    font-size: 0.3em;
    font-family: Inter, sans-serif;
}


.keyboard-button.shift-active {
    background-color: #4B390F;
}

.keyboard-button:hover {
    background-color: #4B390F;
}

.keyboard-button:active {
    background-color: #755F2B;
}

button.shift-active:hover {
    background-color: #755F2B;
}

.keyboard-button.shift-active:active {
    background-color: #A08A56;
}


