body {
    font-family: Inter, sans-serif;
    background-color: #2B1F02;
    color: #f2d89d;
}

@font-face {
    font-family: 'Somnatus';
    src: url('./Somnatus-Regular ttf.ttf') format('truetype');
}

.output-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}

p, input {
    font-size: 4.5em;
    text-align: center;
    background: #2B1F02;
    margin-bottom: 10px;
    margin-top: 10px;
    word-wrap: break-word;
    color: #f2d89d;
    border: 0;
    border-bottom: 5px dashed #f2d89d;
}


input:focus {
    outline: none!important;
}

.encoded-text {
    font-family: Somnatus, sans-serif;
}

p.encoded-text {
    font-size: 7em;
}

p.decoded-text {
    border: 0;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.keyboard-button {
    border: 5px solid #f2d89d;
    border-radius: 0.2em;
    color: #f2d89d;
    width: 9%;
    height: 7%;
    min-height: 2.8em;
    font-size: 5em;
    background-color: #2B1F02;
}

.keyboard-button .encoded-text {
    font-size: 1.8em;
}

.button-text {
    font-size: 0.4em;
    font-family: Inter, sans-serif;
}


.keyboard-button.shift-active {
    background-color: #4B390F;
}

.keyboard-button:hover {
    background-color: #4B390F;
}

.keyboard-button:active {
    background-color: #755F2B;
}

button.shift-active:hover {
    background-color: #755F2B;
}

.keyboard-button.shift-active:active {
    background-color: #A08A56;
}


